*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: rgb(24, 24, 43);
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span{
    color: yellow;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.title span{
    color: yellow;
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.head span{
    color: yellow;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.pro span{
    color: yellow;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:rgb(82, 79, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: .3rem solid palegoldenrod;
}

header .user .nm{
    font-size:2rem;
    color: #fff;
}

header .user .jb{
    font-size:1rem;
    color: #fff;
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:yellowgreen;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: yellow;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}
table,th,td{
    border: 1px solid yellow;
    border-collapse: collapse;
}
td{
    color: rgb(38, 168, 96);
    padding: 1rem;
}
th{
    color: rgb(255, 255, 255);
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: rgb(68, 52, 52);
}
#lis li{
    margin: 0 9rem;
    color: rgba(25, 201, 169, 0.644);
    font-size: 26px;
    padding: .5rem 1rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: rgb(146, 189, 82);
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}

